.mobile-menu {
    display: none;
}




@media (max-width: 1070px) {
    .mobile-menu {
        display: flex !important;
        height: 40px;
        width: 40px;
        background-color: red;
    }

    .admin-sidebar {
        position: fixed;
        left: -260px;
        top: 0;
        height: 100%;
        z-index: 999;
        background: #fff;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    }

    .admin-sidebar.active {
        transform: translateX(260px);
    }

    .mobile-menu {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 30px;
        height: 25px;
        cursor: pointer;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .mobile-menu span {
        display: block;
        height: 4px;
        background: #333;
        border-radius: 2px;
    }
}